<!DOCTYPE html>
<html>
<head>
    <title>Kılıçlıoğlu Ltd. Şti.</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>KILIÇLIOĞLU</h1>
        <h2>0212 513 65 08 - 513 91 37<br />bilgi@kiliclioglultd.com</h2>
        <nav>
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/Home/Contact">İletişim</a></li>
                <li><a href="/Home/About">Hakkımızda</a></li>
            </ul>
        </nav>
    </header>
    @RenderBody()
    <footer>
    </footer>
</body>
</html>