
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div id="contact-container">
        <p id="contact-details">
            Kılıçlıoğlu Sanayi ve Ticaret Ltd. Şti. <br /><br />
            Ticaret Sicil No: 241841/189409<br />
            Marmara Kurumlar Vergi Dairesi No: 5550001773<br /><br />
            Adres: Hamidiye Cad. Altın Han Kat 1 No:74 <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sirkeci / İstanbul<br /><br />
            Tel: (0212) 513 85 16 - 513 65 08<br />
            Fax: (0212) 513 91 37<br />
            Cep tel: (0538) 235 77 58<br /><br />
            Sorumlu Kişiler: Erol ARSLAN, Nurettin DÖKMETAŞ<br /><br />
            E-Mail: <a href="bilgi@kiliclioglultd.com">bilgi@kiliclioglultd.com</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="arslanerol1968@gmail.com">arslanerol1968@gmail.com</a><br /><br />
            Ürünlerimizden toptan ve perakende olarak sipariş vermek ve bilgi almak için yukarıdaki telefon numaralarını ve e-posta adreslerimizi kullanabilirsiniz.
        </p>
    </div>
</section>